*{
    font-family: 'Roboto';
    box-sizing: border-box;
}
body {
    display: block;
    background-color: white;
    position: relative;
    padding: 0;
    margin: 0;
}
h1 {
    color: #1111b8;
}

h2 {
    color: #111bfa;
}

footer {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    padding: 20px 0 0 20px;
    border-top: black solid 1px;
}
footer p {
    max-width: 20vw;
}

.navbar {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;

    .navbar-title {
        margin: .5rem;
    }
}

.navbar-links {
    display: flex;

    a {
        text-decoration: none;
        color: black;
        padding: 1rem;
        display: block;
    }

    a:hover {
        background-color: #dddddd;
        color: cyan;
    }
    a.active {
        display: flex;
        background-color: aqua;
    }
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    width: 30px;
    height: 21px;

    .bar {
        width: 100%;
        border-radius: 10px;
        background-color: black;
        height: 3px;
    }
}




.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    min-width: 90vw;

    h1 {
        align-items: center;
    }
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 40vw;
    min-height: 40vh;
}
.profile img{
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10%;
}
.socials {
    display: flex;
    justify-content: center;
    padding: 20px;
    min-width: 40vw;
    align-self: flex-start;
}

.socials i {
    padding: 0 20px 0 20px;
    justify-content: flex-end;
}
.footer-icons {
    display: flex;
    float: right;
}
.footer-icons i {
    padding: 0 20px 0 0;
}
.experience {
    margin: 5% 0 5% 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;

}
.education {
    margin: 5% 0 5% 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}
.resume-page {

    h3 {
        color: cyan;
    }
}
.projects {
    margin: 10% 0 10% 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    display: flex;
    flex-direction: row;
}
.project-thumbnail {
    display: flex;
    flex-direction: column;
}
.project-details {
    display: flex;
    flex-direction: column;
}

.resume-header {
    position: sticky;
    top: 65px;
    background-color: white;
}

.divider {
    color: red;
    min-width: 20vw;
    height: 0.2vh;
    background-color: red;
}
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        border-bottom: solid black 1px;

    }
    .toggle-button {
        display: flex;

    }
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        a {
            padding: .5rem .1rem;
        }

    }
    .card {
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: none;

        .name {
            width: 100%;
            text-align: center;
        }
        .role {
            width: 100%;
            text-align: center;
        }

        .socials {
            width: 100%;
            flex-direction: row;
            align-items: center;

        }
    }
    .footer p {
        width: 100%;
    }
    .navbar-links.active {
        display: flex;
    }
    .experience {
        box-shadow: none;
        border-bottom: solid black 1px;
        background-color: white;
    }
    .education {
        box-shadow: none;
        border-bottom: solid black 1px;
        background-color: white;
    }
}
