{% extends "core/main_layout.html" %}

{% block title %}Resume{% endblock %}

{% block content %}
    <h1>Resume</h1>

    <div class="resume-page">

        <h2 class="resume-header">Experience</h2>
        {% for entry in experience_page %}
            <div class="experience">
                <h3>{{ entry.position }}</h3>
                <p>{{ entry.company_name }}</p>
                <p>{{ entry.company_location }}</p>
                <p>From {{ entry.start_date }} to {{ entry.end_date }}</p>
                <p>{{ entry.about }}</p>
            </div>
        {% endfor %}

        <h2 class="resume-header">Education</h2>

        {% for entry in education_page %}
            <div class="education">
                <h3>{{ entry.institution }}</h3>
                <p>{{ entry.location }}</p>
                <p>{{ entry.time }}</p>
                <p>{{ entry.about }}</p>
            </div>

        {%  endfor %}
    </div>

{% endblock %}