*{
    font-family: 'Roboto';
}
body {
    display: block;
    background-color: white;
    position: relative;
}
h1 {
    color: #1111b8;
}

h2 {
    color: #111bfa;
}

footer {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    padding: 20px 0 0 20px;
    border-top: black solid 1px;
}
footer p {
    max-width: 20vw;
}

.navbar {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: end;
    height: 65px;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar a{
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
    float: right;
}

.navbar a:hover {
    background-color: #dddddd;
    color: black;
}

.navbar a:active {
    background-color: aqua;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    min-width: 90vw;

    h1 {
        align-items: center;
    }
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 40vw;
    min-height: 40vh;
}
.profile img{
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.socials {
    display: flex;
    justify-content: center;
    padding: 20px;
    min-width: 40vw;
    align-self: flex-start;
}

.socials i {
    padding: 0 20px 0 20px;
    justify-content: flex-end;
}
.footer-icons {
    display: flex;
    float: right;
}
.footer-icons i {
    padding: 0 20px 0 0;
}
.experience {
    margin: 5% 0 5% 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;

}
.education {
    margin: 5% 0 5% 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}
.resume-page {

    h3 {
        color: cyan;
    }
}
.projects {
    margin: 10% 0 10% 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    display: flex;
    flex-direction: row;
}
.project-thumbnail {
    display: flex;
    flex-direction: column;
}
.project-details {
    display: flex;
    flex-direction: column;
}

.resume-header {
    position: sticky;
    top: 65px;
    background-color: white;
}

.divider {
    color: red;
    min-width: 20vw;
    height: 0.2vh;
    background-color: red;
}
